* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

/* Modal */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 550px;
  width: 100%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(136, 94, 138, 0.75);
  border-radius: 4px;
}

.modalRight {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 2rem;
}

.bold {
  font-weight: 600;
}

